@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:ital,wght@0,100;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

body{
    background-color: #282828;
    

}
nav{
    background: #2c2e30;
    display: flex;
    text-align:right ;
    align-items: center;
    height: 60px;
 
}
.nav2{
    background-color:#363535;
    border-radius: 7px;
   
}
    

.logo{
    cursor: pointer;
    margin: 0 auto;
}
.navitems{
    display: flex;
    flex: 1;
   padding: 0 0 0 40px;
   margin-left: 330px;
}
.navitems a{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
    padding: 5px;
}
.navitems a i{
    color: #368338e1;
    padding:4px;
}
 nav form{
    display: flex;
   height: 40px;
   padding : 2px;
   background: #1e232b;
   min-width: 15% !important;
   border-radius: 40px;
   border: 2px solid rgba(rgb(195, 83, 83), rgb(51,rgb(20, 20, 208), 51), blue, 0.4);

}
nav form #search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: white;
    font-size: 18px;
    border: none;
    font-weight: 500;
    background: none;
}
nav form button{
    padding: 0 15px;
    color: white;
    font-size: 17px;
    background:#368338e1;
    border: none;
    border-top-right-radius:17px ;
    border-bottom-right-radius:17px ;
    cursor: pointer;
}
nav form button:hover{
    background: #27aa2be1;
}
.content{
    margin-top: 10px;
    text-align: center;
    color: rgb(229, 228, 225);
}
.content h1{
    justify-content: space-between;
    letter-spacing: 4px;
    font-family: 'EB Garamond', serif;
 
}
p i{
    color: #0fd215e1;
    
}
.movie-items{
    width: 100%;
    height: 10%;
    margin-top: 30px;
    margin-left: 1%;
    
   
}
.column img{
    border-radius: 20px;
  

}
.column{
    float: left;
    width: 16.66%;
    cursor: pointer;

}
.row::after{
    content: '';
    clear: both;
    display: table;
}.column h4,p{
    color: white;

}
.column:hover{
    scale: 0.95;
}
nav a i:hover{
    scale: 1.4;
}
form {
    margin-left: 100px;
}
@media only screen and (max-width:500px)
{
    .logo{
        margin-left: 150px;
    }
    .navitems{
       margin-left: -70px;
       padding: 50px;
    }
    .forms {
        display: none;
    }
    .movie-items img {
        margin-top: 50px;
        width: 300px;
        height: auto;
    }
    .row {
        display: flex; 
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 80px;
    }
    .nav2{
        background-color:#363535;
        border-radius: 10px;
    }
    .nav2:hover{
        scale: 1.03;
    }
}



#menu {
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}
.menu-options {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    animation: slideMenu 2s ease-in-out;
}
@keyframes slideMenu {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }


.menu-options li {
    margin: 20px;
}
.menu-options {
    display: none;
}
